.dashboard-home {
    &__profile {
        &::-webkit-scrollbar {
            display: none;
            width: 8px;
        }

        &:hover::-webkit-scrollbar {
            display: block;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(63, 62, 62, 0.336);
            border-radius: 4px;
        }

        &:hover::-webkit-scrollbar-thumb {
            background-color: rgba(197, 193, 193, 0.308);

        }
    }
}