.landing {
    &__nav {
        li {
            transition: 0.3s ease-in;

            &::after {
                content: "";
                width: 0;
            }

            &:hover::after {
                content: "";
                position: absolute;
                width: 95%;
                transition: 0.3s ease-in;
                background-color: $secondary;
                height: 1px;
                left: 0;
                top: 24px;
            }
        }
    }
}